.user {
    display: flex;
    align-items: center;
}

.user > img {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
}

.action {
    display: flex;
    justify-content: space-between;
}

.actionIcon {
    margin-right: 15px;
    margin-left: 15px;
    cursor: pointer;
    color: black;
}

.actionIcon:nth-child(1):hover {
    color: #fca61f;
}

.actionIcon:nth-child(2):hover {
    color:#fca61f;
}

.css-1jbbcbn-MuiDataGrid-columnHeaderTitle {
    font-weight: 900 !important;
    font-size: 15px;
}